*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
release/

# Gradle wrapper jar is OK, but not cached dependencies
!gradle/wrapper/gradle-wrapper.jar
